@font-face {
    font-family: 'Broken Detroit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./font/broken-detroit.woff2') format('woff2')
}


*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Lexend Giga';
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background: var(--bg, #131313);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}


li {
    list-style-type: none;
}

img {
    display: block;
    width: auto;
    height: 100%;
}

.container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* global end */

.menu_link a {
    color: #fff;
    font-family: 'Lexend Giga';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu_header {
    color: #fff;
    font-family: 'Broken Detroit', sans-serif;
    /*інший шрифт*/
    font-size: 24px;
    font-weight: 400;
    display: flex;

    align-items: center;
    justify-content: center;
}

.menu_link a {
    cursor: pointer;
}

.menu_header :not(:last-child) {
    padding-right: 36px;
}

.header_h2 {
    color: #FFF;
    font-family: 'Lexend Giga';
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -9.28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tint_h1 {
    position: relative;
    color: #fff;
    font-family: 'Broken Detroit', sans-serif;
    /*інший шрифт та розмір*/
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 18.4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */
.header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* tint */
.tint {
    position: relative;
    background-image: url('./image/background.png');
    padding-top: 225px;
    height: 100vh;
}

.picture {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 688px;
    height: 688px;
    z-index: 2;
}

/* cristals */
.cristals {
    padding-top: 160px;
    position: relative;
}

.cristals__text {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 24px;
}

.small_cristal {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 21%;
    left: 17%;
}

.big_cristal {
    position: absolute;
    width: 123px;
    height: 123px;
    right: 3%;
    top: 30%;
}

.arm {
    position: absolute;
    top: 82%;
    left: 0;
    width: 367px;
    height: 367px;
}

/* characters */
.characters {
    padding-top: 140px;
}

.characters__title {
    margin-bottom: 160px;
    color: var(--white, #FFF);
    font-family: 'Broken Detroit', sans-serif;
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 9.6px;
    text-align: center;
}

.characters__title span {
    color: var(--violet, #99449F);
}

.characters__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px 20px;
}

.character {
    max-width: 540px;
}

.character__img {
    position: relative;
    border-radius: 40px;
    border: 3px solid var(--violet, #99449F);
}
.character__img_hunter{
    position: relative;
    border-radius: 40px;
    border: 3px solid var(--cards-hunter-card, #4D098C);
}
.character__img_shadow {
    position: relative;
    border-radius: 40px;
    border: 3px solid var(--cards-shadow-card, #590E7B);
}
.character__img_pirate {
    position: relative;
    border-radius: 40px;
    border: 3px solid var(--cards-pirate-card, #C300E3);
}
.character__img_arrow {
    position: relative;
    border-radius: 40px;
    border: 3px solid var(--cards-arrow-card, #FF4AFF);
}
.character__img_ghost {
    position: relative;
    border-radius: 40px;
    border: 3px solid var(--cards-ghost-card, #7B149E);
}
.character__thumb {
    border-radius: 40px;
    overflow: hidden;
}

.character__text {
    padding: 25px 35px 0;
}

.character__title {
    color: var(--white, #FFF);
    font-family: 'Broken Detroit', sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 30px;
}

.character__desc {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 20px;
}

.text_link {
    display: flex;
    flex-direction: column;
}

.text_item_another {
    margin-top: 27px;
}

.comand {
    margin-bottom: 93px;
}


.card img {
    display: block;
}

.history .container{
    padding: 0;
}
.history_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 160px;
}

.history_card {
    display: flex;
    gap: 21px;
}
.history_card img,
.history_card div {
width: calc(50% - 10px);
background-repeat: no-repeat;
}

.history_card:nth-child(even) {
    flex-direction: row-reverse;
}

.card_character {
    margin-top: 160px;
    display: flex;
    align-items: baseline;
}

.card {
    display: flex;
    width: 540px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_list {
    position: relative;
    border: 3px solid var(--violet, #99449F);  
    border-radius: 40px; 
}

.card_thumb {
    overflow: hidden;
    border-radius: 40px;
}

.cristal_num {
    position: absolute;
    top: -24px;
    right: -23px;
    width: 88px;
    height: 88px;
}


.card_list .name {
    color: var(--white, #FFF);
    font-family: 'Broken Detroit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
    padding-left: 33px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
}

.numeral {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Broken Detroit', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.red_num {
    position: absolute;
    z-index: 3;
    bottom: -95px;
    right: -85px;
    width: 197px;
    height: 197px;
}

.purple_num {
    position: absolute;
    z-index: 3;
    left: -85px;
    bottom: -95px;
    width: 197px;
    height: 197px;
}

.card_border_healer {
    overflow: hidden;
}

.character__thumb:hover img {
    transition: transform 0.5s ease;
    transform-origin: top;
    transform: scale(150%);
}

.healer_left_vector {
    position: absolute;
    left: -5px;
    bottom: 78px;
    width: 49px;
    height: 96px;
    fill: #131313;
}

.healer_bottom_vector {
    position: absolute;
    right: -10px;
    bottom: -5px;
    width: 76.5px;
    height: 64.5px;
    fill: #131313;
}

.hunter {
    border-radius: 20px;
}

.hunter_top_vector {
    position: absolute;
    right: -5px;
    top: -10px;
    width: 105px;
    height: 121px;
    fill: #131313;
}

.hunter_bottom_vector {
    position: absolute;
    left: 18px;
    bottom: -5px;
    width: 72.5px;
    height: 37.5px;
    fill: #131313;
}



.shadow_bottom_vector {
    position: absolute;
    right: -10px;
    bottom: -5px;
    width: 137.5px;
    height: 110.5px;
    fill: #131313;
}



.pirate_bottom_vector {
    position: absolute;
    bottom: -3px;
    left: 208.5px;
    width: 207px;
    height: 32px;
    fill: #131313;
}

.pirate_top_vector {
    position: absolute;
    left: -10px;
    top: 149px;
    width: 61px;
    height: 131px;
    fill: #131313;
}


.arrow_top_vector {
    position: absolute;
    top: -5px;
    right: 21px;
    width: 138px;
    height: 36px;
    fill: #131313;
}

.arrow_bottom_vector {
    position: absolute;
    left: -5px;
    bottom: -10px;
    width: 94px;
    height: 91.5px;
    fill: #131313;
}


.ghost_top_vector {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 130px;
    height: 242px;
    fill: #131313;
}

.ghost_bottom_vector {
    position: absolute;
    left: -5px;
    top: 300px;
    width: 34px;
    height: 103.5px;
    fill: #131313;
}

.story {
    color: var(--white, #FFF);
    font-family: 'Broken Detroit', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story span {
    color: var(--violet, #99449F);
    font-family: 'Broken Detroit', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
}

.image {
    position: relative;
}

.text_history {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white, #FFF);
    font-family: 'Lexend Giga';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 45px;
}
.background_section{
    background-image: url(./image/section1_1.png);
}
.background_section-2{
    background-image: url(./image/section2_2.png);
}
.background_section-3{
    background-image: url(./image/section3_3.png);
}
.background_section-4{
    background-image: url(./image/section4_4.png);

}
.info_history {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.history {
    padding-top: 200px;
}

.card_mob {
    padding-top: 200px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white, #FFF);
    font-family: 'Broken Detroit', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
}

.cards span {
    color: var(--violet, #99449F);
    font-family: 'Broken Detroit', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
}

.button_item {
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Broken Detroit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
    border-radius: 36px;
    background: var(--violet, #99449F);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 14px 32px 0px rgba(0, 0, 0, 0.10), 0px 58px 58px 0px rgba(0, 0, 0, 0.09),
        0px 130px 78px 0px rgba(0, 0, 0, 0.05), 0px 231px 92px 0px rgba(0, 0, 0, 0.01), 0px 360px 101px 0px rgba(0, 0, 0, 0.00);
}

.button_item_list {
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Broken Detroit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
    border-radius: 36px;
    background: var(--violet, #99449F);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 14px 32px 0px rgba(0, 0, 0, 0.10), 0px 58px 58px 0px rgba(0, 0, 0, 0.09),
        0px 130px 78px 0px rgba(0, 0, 0, 0.05), 0px 231px 92px 0px rgba(0, 0, 0, 0.01), 0px 360px 101px 0px rgba(0, 0, 0, 0.00);
}

.button_menu {  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 160px;
    margin-bottom: 50px;
}

.button_list {
    width: 15%;
}

.button_list:last-child {
    width: 100%;
}

.button_item {
    display: block;
    width: 100%;
    padding: 20px;
}

.button_list:last-child .button_item {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.button_item:hover,
.button_item:active {
    color: var(--white, #99449F);
    background: var(--violet, #fff);
    transition: 0.5s;
    cursor: pointer;
}
.text_history :not(:last-child) {
    margin-bottom: 20px;
}

.card_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px 35px;
    flex-wrap: wrap;
}

.end_block_title {
    color: #FFF;
    text-align: center;
    font-family: 'Broken Detroit', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 987px;
    text-transform: uppercase;
}

.end_block_button_list {
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Broken Detroit', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 55px 122px;
    border-radius: 36px;
    background: var(--violet, #99449F);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 14px 32px 0px rgba(0, 0, 0, 0.10),
        0px 58px 58px 0px rgba(0, 0, 0, 0.09), 0px 130px 78px 0px rgba(0, 0, 0, 0.05),
        0px 231px 92px 0px rgba(0, 0, 0, 0.01), 0px 360px 101px 0px rgba(0, 0, 0, 0.00);
}

.end_block {
    padding-top: 200px;
    position: relative;
}

.text_block {
    padding-top: 448px;
}

.text_block :not(:last-child) {
    margin-bottom: 130px;
}

.end_block_button_list:hover {
    color: #99449F;
    background-color: #FFF;
    transition: 0.5s ease;
}
.end_block_text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.end_block_title {
    position: relative;
}

.end_block_button_list {
    z-index: 5;
    cursor: pointer;
    border: none;
    margin-bottom: 430px;
}

.woman {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1024px;
}

.man {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1024px;
}

.footer {
    padding-left: 129px;
    padding-right: 129px;
    display: flex;
    justify-content: space-between;
}

.footer_text_first {
    color: #FFF;
    font-family: 'Lexend Giga';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer_text_second {
    color: #FFF;
    font-family: 'Broken Detroit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
}

.footer_text :not(:last-child) {
    padding-bottom: 16px;
}

.footer_text {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer_info_text {
    color: var(--white, #FFF);
    font-family: 'Lexend Giga';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_info_year {
    color: var(--violet, #99449F);
    font-family: 'Lexend Giga';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_info {
    margin-top: 16px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_info :not(:last-child) {
    padding-bottom: 12px;
}

.name {
    width: 20px;
    height: 20px;
}

.social_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: #99449F;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.social_item:hover {
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.social_arrow_item:hover {
    width: 46px;
    height: 46px;
    background-color: #ffffff;
    transition: 0.5s;
}

.social_arrow_item:hover .name_arrow {
    fill: #99449F;
}

.social {
    display: flex;
    gap: 12px;
    align-items: center;
}

.social_arrow_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: #99449F;
    width: 46px;
    height: 46px;
    margin-left: 94px;
}

.name_arrow {
    fill: #FFF;
    width: 30px;
    height: 30px;
}

.networks {
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    cursor: pointer;
    display: none;
    z-index: 99999;
}

.modal_main {
    position: relative;
    width: 528px;
    border-radius: 4px;
    background: #131313;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin: auto;
    color: #212121;
    padding: 40px;
    cursor: default;
}

.modal_main::after {
    content: '';
    position: absolute;
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    height: calc(100% + 3px * 2);
    width: calc(100% + 3px * 2);
    background: linear-gradient(60deg, #7B149E, #D616A1, #C300E3, #4D098C, #FF4AFF, #590E7B, #99449F, #131313);
    border-radius: calc(2 * 3px);
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.modal_close {
    width: 30px;
    height: 30px;
    border: 1px solid #99449F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #131313;
    cursor: pointer;
    fill: #99449F;
}

.modal_close:hover {
    fill: #4D098C;
    transition: 250ms ease-in;
}

.modal_title {
    margin-bottom: 12px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.modal__input-wrapper {
    position: relative;
    margin-bottom: 12px;
}

.modal__label {
    display: block;
    margin-bottom: 4px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.12px;
}

.modal__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding-left: 42px;
    outline: none;
    background-color: #252525;
    color: #FFF;
}

.coment textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize: none;
    font-family: 'Lexend Giga';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    outline: none;
    background-color: #252525;
    color: #FFF;
}

.coment textarea {
    outline: none;
    height: 120px;
    width: 100%;
    padding: 12px 16px;
    resize: none;
}

.condition_modal {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.condition_modal>label {
    color: #757575;
    font-family: 'Lexend Giga';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.condition_modal>label a {
    color: #2196F3;
    font-family: 'Lexend Giga';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.send {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #99449F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: 'Lexend Giga';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.send:hover {
    border-radius: 4px;
    background: #4D098C;
    transition: 250ms ease-in;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

