.vector_0{
    position: absolute;
    z-index: 5;
    fill: var(--bg, #131313);
    width: 44px;
height: 25px;
bottom: 129px;
right: 100px;
}
.vector_1{
    position: absolute;
    z-index: 5;
    fill: var(--bg, #131313);
    top: -5px;
    right: 0;
    width: 46px;
height: 36.5px;
}
.vector_2{
    position: absolute;
    z-index: 5;
    width: 157px;
height: 151px;
top: -12px;
    fill: var(--bg, #131313);
    left: 35%;
    
}
.vector_3 {
    position: absolute;
    z-index: 5;
    width: 66px;
    height: 23.5px;
    fill: var(--bg, #131313);
    top: -2px;
    left: 0;
}





