.cristals {
    padding-top: 160px;
    position: relative;

    &__text {
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
        color: var(--white, #FFF);
        text-align: center;
        font-size: 24px;
    }
}



.small_cristal {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 21%;
    left: 17%;
}

.big_cristal {
    position: absolute;
    width: 123px;
    height: 123px;
    right: 3%;
    top: 30%;
}
.arm {
    position: absolute;
    top: 82%;
    left: 0;
    width: 367px;
    height: 367px;
}