.tint {
    position: relative;
    background-image: url('../image/background.png');
    padding-top: 225px;
    height: 100vh;

    
    &_h2 {
        color: #FFF;
        font-family: 'Lexend Giga';
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -9.28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &_h1 {
        position: relative;
        color: #fff;
        font-family: 'Broken Detroit', sans-serif;
        font-size: 180px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 18.4px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_picture {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 688px;
        height: 688px;
        z-index: 2;
    }
}




@media screen and (min-width: 480px) {
    .tint {
        position: relative;
        background-image: url('../image/background.png');
        padding-top: 225px;
        height: 200vh;

        &_h2 {
            color: #FFF;
            font-family: 'Lexend Giga';
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: -3.48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        &_h1 {
            position: relative;
            color: #fff;
            font-family: 'Broken Detroit', sans-serif;
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 4.8px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_picture {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 446px;
            height: 446px;
            z-index: 2;
        }
  }
  
}